# Node dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
/dist
/build
/client/dist
/client/build
/server/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
client/.env
server/.env

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Cache
.cache/
.next/
out/
.env
server/config/serviceAccountKey.json
