.search-form {
  display: flex;
}
.search-form input {
  border: 1px solid var(--border-color);
  background-color: var(--card-bg);
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 4px 0 0 4px;
  font-size: 0.9rem;
}
.search-form button {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-left: none;
  padding: 0.5rem 1rem;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  color: var(--text-color);
}